<h2 class="text-center">New Question</h2>

<%= form_for :question, remote: true do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@question.errors.count, "error") %> prohibited
        this question from being created:</h4>
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title, :class => "move-slightly-over small_width"%><br>
    <%= f.text_field :title, :class => "small_width"%>
  </p>
  <p>
    <%= f.label :content, :class => "move-slightly-over small_width"%><br>
    <%= f.text_area :content, :class => "small_width"%>
  </p>
  <p>
    <%= f.submit "Submit", :class => 'button secondary small_width' %>
  </p>
<% end %>

