<div class="quote">
  <h2><%= get_quote %></h2>
</div>

<div>
  <table>
    <th>Votes</th>
    <th>Title</th>
  <% @questions.each do |question| %>
    <tr>
      <td>
        <%= question.votes %>
        <%= link_to "Up", upvote_question_path(question), method: :patch %>
        <%= link_to "Down", downvote_question_path(question), method: :patch %>
      </td>
      <td> <%= link_to question.title, question_path(question.id) %> </td>
    </tr>
  <% end %>
  </table>
</div>

<div>
  <%= render "form" %>
</div>
