<%= link_to 'HOME', questions_path %>
<h2>Question:</h2>
<%= link_to 'Upvote', "/questions/#{@question.id}/upvote", remote: true, method: :patch %>

<div id="question_vote"><%= @question.vote %></div>

<%= link_to 'Downvote', "/questions/#{@question.id}/downvote", remote: true, method: :patch %>

<h3><%= @question.title %></h3>
<%= @question.content %><br><br>

<div>
  <%= link_to "Delete This Question", question_path(@question), method: :delete, data: { confirm: 'Are you sure?' } %>

</div>

<% answer = @answer %>
<h2>Answers:</h2>
<div id="show_answers">
<%= render @question.answers.order(vote: :desc) %>
</div>
<%= render partial: 'answers/new', locals: {:answer => answer } %>
