<%= link_to 'HOME', questions_path %>
<h2>Question:</h2>
<%= link_to 'Upvote', "/questions/#{@question.id}/upvote", method: :patch %>

<%= @question.vote %>

<%= link_to 'Downvote', "/questions/#{@question.id}/downvote", method: :patch %>

<h3><%= @question.title %></h3>
<%= @question.content %><br><br>

<div>
  <%= link_to "Answer This Question", new_question_answer_path(:question_id => @question.id) %> <br>
  <%= link_to "Delete This Question", question_path(@question), method: :delete, data: { confirm: 'Are you sure?' } %>

</div>

<h2>Answers:</h2>
<%= render @question.answers %>
