<h2 class="text-center">Question:</h2>
<div id="voting" class="inline">
  <%= link_to "/questions/#{@question.id}/upvote", remote: true, method: :patch do%>
    <i class="fa fa-arrow-up inline"></i>
  <% end %>
  <div id="question_vote" class="inline">
    <%= @question.vote %>
  </div>
  <%= link_to "/questions/#{@question.id}/downvote", remote: true, method: :patch do%>
    <i class="fa fa-arrow-down"></i>
  <% end %>
</div>

<h3 class="inline"><%= @question.title %></h3>
<p><%= @question.content %></p>
<br>
<div>
  <%= link_to "Delete This Question", question_path(@question), method: :delete, data: { confirm: 'Are you sure?' } %>

</div>

<% answer = @answer %>
<h2 class='text-center'>Answers:</h2>
<div id="show_answers">
<%= render @question.answers.order(vote: :desc) %>
</div>
<div class="form_comments debugger">
<%= render partial: 'answers/new', locals: {:answer => answer } %>
</div>

<!-- <div class='markdown debugger'>
  This will be markdown!
</div> -->
